ul.diacritics
	| <% for (i in diacritics) { %>
	li <%= diacritics[i] %>
	| <% } %>

//- table.diacritics
//- 	| <% for (i in diacritics) { %>
//- 	| <% if (i%4==0) { %><tr><% } %>
//- 	td <%= diacritics[i] %>
//- 	| <% } %>