define(['jade'], function(jade) { if(jade && jade['runtime'] !== undefined) { jade = jade.runtime; }

this["JST"] = this["JST"] || {};

this["JST"]["src/views/form/combolist/main"] = function anonymous(locals) {
var buf = [];
buf.push("<div class=\"input\"><input type=\"text\" data-view-id=\"<%= viewId %>\" placeholder=\"<%= settings.placeholder %>\"/><div class=\"caret\"></div></div><% if (settings.editable) { %><button class=\"edit\">Edit</button><% } %><ul class=\"list\"></ul><ul class=\"selected\"><% selected.each(function(model) { %><li data-id=\"<%= model.id %>\" class=\"selected\"><span><%= model.get('title') %></span></li><% }); %></ul>");;return buf.join("");
};

return this["JST"];

});