.combolist{position:relative;}
.combolist .input{position:relative;display:inline-block;width:180px;z-index:2;}
.combolist .input input{width:180px;border:1px solid #ccc;padding-left:4px;}
.combolist .input input:focus{outline-color:#88b1c8}
.combolist .input div.caret{cursor:pointer;position:absolute;right:0;top:50%;margin-top:-7px;bottom:1px;background:linear-gradient(to right,rgba(255,255,255,0) 0%,#fff 50%);}
.combolist .input div.caret:after{display:inline-block;width:0;height:0;vertical-align:middle;border-top:4px solid #000;border-right:4px solid rgba(0,0,0,0);border-left:4px solid rgba(0,0,0,0);content:"";margin:0 4px 0 16px}
.combolist button{display:none;margin-left:10px;background:#c3d8e3;border:none;border-radius:4px;color:#fff;font-size:12px;}
.combolist button:hover{background:#88b1c8}
.combolist div.empty{color:#aaa;font-style:italic;padding:4px 0 0 16px}
.combolist ul.selected{display:block;list-style:square;padding:8px 0 0 16px;}
.combolist ul.selected li{cursor:pointer;line-height:16px;}
.combolist ul.selected li:hover span{background:#ffcfcf;border-radius:6px;padding:0 4px}
.combolist ul.selected li:hover:after{content:'x';font-weight:bold;color:#f00;margin-left:6px;vertical-align:top;font-size:.8em}
.combolist ul.list{white-space:nowrap;max-height:360px;overflow-y:auto;overflow-x:hidden;display:none;position:absolute;left:0;background-color:#fff;list-style:none;margin:-1px 0 0 0;box-shadow:0 5px 10px rgba(0,0,0,0.2);padding:4px 0;border-radius:4px;border:1px solid #ccc;z-index:3;}
.combolist ul.list li{cursor:pointer;padding:2px 24px 2px 8px;}
.combolist ul.list li:hover{color:#fff;background-image:linear-gradient(to bottom,#88b1c8,#6291ac)}
.combolist ul.list li.active{color:#fff;background-image:linear-gradient(to bottom,#88b1c8,#6291ac)}
