input(data-view-id!="<%= viewId %>", placeholder!="<%= settings.placeholder %>")
button Add to list
ul.selected
	| <% selected.each(function(model) { %>
	li(data-id!="<%= model.id %>") <%= model.id %>
	| <% }); %>