define(['jade'], function(jade) { if(jade && jade['runtime'] !== undefined) { jade = jade.runtime; }

this["JST"] = this["JST"] || {};

this["JST"]["src/views/form/editablelist/main"] = function anonymous(locals) {
var buf = [];
buf.push("<input data-view-id=\"<%= viewId %>\" placeholder=\"<%= settings.placeholder %>\"/><button>Add to list</button><ul class=\"selected\"><% selected.each(function(model) { %><li data-id=\"<%= model.id %>\"><span><%= model.id %></span></li><% }); %></ul>");;return buf.join("");
};

return this["JST"];

});