.input
	input(type="text", data-view-id=viewId, placeholder=settings.placeholder)
	.caret
if settings.editable
	button.edit Edit

ul.list
ul.selected
	each model in selected.models
		li.selected(data-id=model.id)
			span= model.get('title')
