button
	&.loader
		background white
		padding-bottom 6px
		cursor default
		vertical-align middle

		&:after
			content url('/images/hilib/views/modal/loader.gif')
			margin-left 6px
			position relative
			top 3px
